<!DOCTYPE html>
<html lang="en">

<head>
    {% load tweet_tags %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/tp.css' %}">
</head>

<body>
    <div class='container-fluid'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="#">Hello, {{request.session.user_first_name}}</a>
                    <a class="nav-item nav-link" href="#"><a href="/wall/{{request.session.user_id}}">Your Page</a></a>
                    <a class="nav-item nav-link justify-content-end" href="#"><a href='/logout'>Log Out</a></a>
                </div>
            </div>
        </nav>
        {% for message in messages %}
        {{message}}
        {% endfor %}
        <div class="row">
            <div class='col-12'>
                <h4>Strolling through this pandemic like....</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-8"> <iframe src="https://giphy.com/embed/aMoFRURgBuD3a" width="480" height="250"
                    frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

        </div>
        <!-- <p><a href="https://giphy.com/gifs/ellen-uggie-degeneres-aMoFRURgBuD3a"></a></p><br> -->



        <div class="row">
            <div class="col-6">
                <h3>Share your favorite YouTube funny animal video!!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 align-items-center">
                <form action='/wall/video' method='POST'>
                    <!--Form to post video-->
                    {% csrf_token %}
                    Video url:<input type='text' name='video'><br>
                    Description: <input type='text' name='description'><br>
                    <input type='submit' value='Post Video'><br>
                </form>
            </div>
        </div>


       
        <div class="row">
            <div class='col-sm'>{% for url in urls %}
                <div class="mdl-card__media">
                    {% autoescape off %}{% tweet_tags url %}{% endautoescape %}
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                {% endfor %}
            </div>
            <div class='col-sm'>
                {% for message in all_messages %}
                <!--Start of for loop-->
                {% if request.session.user_id == message.user.id %}
                <a href='/wall/{{message.id}}/delete'>Delete</a><br>
                <!--Delete messgae-->
                {% endif %}
                <iframe width="490" height="315" src="https://www.youtube.com/embed/{{message.tp_video}}"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>


                <!-- This is the message posting -->



                {% for comment in message.comments.all %}
                {{comment.content}} <br>
                <!--This is the comment posting-->
                {% endfor %}


                <form action='/wall/{{message.id}}/comment' method='POST'>
                    <!--Form to post comment-->
                    {% csrf_token %}
                    Comment on Video: <input type='text' name='comment'>
                    <input type='submit' value='Post Comment'>
                </form>
                {% endfor %}
            </div>
            <!--End of Message for loop-->

        </div>


    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>



</body>

</html>